In [19]:
#import library
import pandas as pd
import numpy as np

In [24]:
#membaca dataset format csv
data = pd.read_csv("K04_bank_customers.csv",sep=';')

In [25]:
#panggil datasetnya
data

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,58,management,married,tertiary,no,2143,yes,no,unknown,5,may,261,1,-1,0,unknown,no
1,44,technician,single,secondary,no,29,yes,no,unknown,5,may,151,1,-1,0,unknown,no
2,33,entrepreneur,married,secondary,no,2,yes,yes,unknown,5,may,76,1,-1,0,unknown,no
3,47,blue-collar,married,unknown,no,1506,yes,no,unknown,5,may,92,1,-1,0,unknown,no
4,33,unknown,single,unknown,no,1,no,no,unknown,5,may,198,1,-1,0,unknown,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45206,51,technician,married,tertiary,no,825,no,no,cellular,17,nov,977,3,-1,0,unknown,yes
45207,71,retired,divorced,primary,no,1729,no,no,cellular,17,nov,456,2,-1,0,unknown,yes
45208,72,retired,married,secondary,no,5715,no,no,cellular,17,nov,1127,5,184,3,success,yes
45209,57,blue-collar,married,secondary,no,668,no,no,telephone,17,nov,508,4,-1,0,unknown,no
45210,37,entrepreneur,married,secondary,no,2971,no,no,cellular,17,nov,361,2,188,11,other,no

In [27]:
#melihat colom apa saya yang ada dataset
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45211 entries, 0 to 45210
Data columns (total 17 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   age        45211 non-null  int64
 1   job        45211 non-null  object
 2   marital    45211 non-null  object
 3   education  45211 non-null  object
 4   default    45211 non-null  object
 5   balance    45211 non-null  int64
 6   housing    45211 non-null  object
 7   loan       45211 non-null  object
 8   contact    45211 non-null  object
 9   day        45211 non-null  int64
 10  month      45211 non-null  object
 11  duration   45211 non-null  int64
 12  campaign   45211 non-null  int64
 13  pdays      45211 non-null  int64
 14  previous   45211 non-null  int64
 15  poutcome   45211 non-null  object
 16  y          45211 non-null  object
dtypes: int64(7), object(10)
memory usage: 5.9+ MB

In [28]:
#untuk mendapatkan ringkasan statistik deskriptif dari suatu DataFrame
data.describe()

,age,balance,day,duration,campaign,pdays,previous
count,45211.000000,45211.000000,45211.000000,45211.000000,45211.000000,45211.000000,45211.000000
mean,40.936210,1362.272058,15.806419,258.163080,2.763841,40.197828,0.580323
std,10.618762,3044.765829,8.322476,257.527812,3.098021,100.128746,2.303441
min,18.000000,-8019.000000,1.000000,0.000000,1.000000,-1.000000,0.000000
25%,33.000000,72.000000,8.000000,103.000000,1.000000,-1.000000,0.000000
50%,39.000000,448.000000,16.000000,180.000000,2.000000,-1.000000,0.000000
75%,48.000000,1428.000000,21.000000,319.000000,3.000000,-1.000000,0.000000
max,95.000000,102127.000000,31.000000,4918.000000,63.000000,871.000000,275.000000

In [29]:
#mengubah beberapa kolom menjadi numerik
from sklearn.preprocessing import LabelEncoder

for col in ['job', 'marital', 'education', 'default', 'balance', 'housing', 'loan', 'contact', 'month', 'poutcome', 'y']:
    le = LabelEncoder()
    data[col] = le.fit_transform(data[col])
    
print(data['job'].unique(),data['marital'].unique(),data['education'].unique(),data['default'].unique(),data['balance'].unique(),data['housing'].unique(),data['loan'].unique(),data['contact'].unique(),data['month'].unique(),data['poutcome'].unique(),data['y'].unique())

[ 4  9  2  1 11  5  0  7  6 10  3  8] [1 2 0] [2 1 3 0] [0 1] [3036  945  918 ... 6209 6839 6912] [1 0] [0 1] [2 0 1] [ 8  6  5  1 10  9  2  4  3  7  0 11] [3 0 1 2] [0 1]

In [30]:
#panggil datanya kembali
data

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,58,4,1,2,0,3036,1,0,2,5,8,261,1,-1,0,3,0
1,44,9,2,1,0,945,1,0,2,5,8,151,1,-1,0,3,0
2,33,2,1,1,0,918,1,1,2,5,8,76,1,-1,0,3,0
3,47,1,1,3,0,2420,1,0,2,5,8,92,1,-1,0,3,0
4,33,11,2,3,0,917,0,0,2,5,8,198,1,-1,0,3,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45206,51,9,1,2,0,1741,0,0,0,17,9,977,3,-1,0,3,1
45207,71,5,0,0,0,2639,0,0,0,17,9,456,2,-1,0,3,1
45208,72,5,1,1,0,5455,0,0,0,17,9,1127,5,184,3,2,1
45209,57,1,1,1,0,1584,0,0,1,17,9,508,4,-1,0,3,0
45210,37,2,1,1,0,3779,0,0,0,17,9,361,2,188,11,1,0

In [31]:
#memisahkan variabel x dan y
x = data.drop(['y'], axis=1)
y = data['y']

In [32]:
from sklearn.model_selection import train_test_split

In [33]:
#training dan testing data tersebut dengan perbandingan 80:20
x_train, x_test, y_train, y_test = train_test_split(x,y,test_size=0.2, random_state=0)

In [34]:
#memanggil algoritma NB
from sklearn.naive_bayes import GaussianNB
from sklearn.metrics import accuracy_score

modelNB = GaussianNB()
modelNB.fit(x_train, y_train)

GaussianNB()

In [35]:
hasil_prediksi = modelNB.predict(x_test)

In [36]:
#melihar hasil akurasi model
from sklearn.metrics import accuracy_score
print('Akurasi Model: ', accuracy_score(y_test, hasil_prediksi))

Akurasi Model:  0.838880902355413

In [37]:
#membuat data baru dan melihat hasil prediksinya
x_new = np.array([[30, 9, 2, 3, 0, 3150, 1, 1, 1, 17, 10, 82, 3, -1, 3, 2]])
prediksi = modelNB.predict(x_new)
print(prediksi)

[0]

C:\Users\j\anaconda3\Lib\site-packages\sklearn\base.py:464: UserWarning: X does not have valid feature names, but GaussianNB was fitted with feature names
  warnings.warn(